<html>
  <body class="details">
    <h4>Details of the cat named {{name}}</h4>
    <table class="blue-grey lighten-4">
    {{#if result}}
    {{#with result}}
      <tr>
        <td>NAME</td><td>{{name}}</td>
      </tr>
      <tr>
        <td>NUMBER</td><td>{{number}}</td>
      </tr>
      <tr>
        <td>FAT?</td><td>{{fat}}</td>
      </tr>
      <tr>
        <td>COLORS</td><td>{{colors}}</td>
      </tr>
    {{/with}}   
    {{else}}
      <tr>
        <td>{{name}} not found</td>
      </tr>
    {{/if}}
    </table>
  </body>
</html>
